{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<h2>{% trans "List of quizzes" %}</h2>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  <th>{% trans "Max Questions" %}</th>
			  <th>{% trans "Pass Mark" %} (%)</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
                <td><a href="{% url 'quiz_start_page' slug=quiz.url %}">{{ quiz.title }}</a></td>
			  <td>{{ quiz.category }}</td>
			  <td>{{ quiz.max_questions }}</td>
			  <td>{{ quiz.pass_mark }}</td>
			  <td>
                <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
                    {% trans "Start quiz" %}
				  </a>
				</td>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
{% endblock %}
