{% load i18n %}
{% if previous.answers %}

  {% if user_was_incorrect %}
    <div class="alert alert-error">
  	  <strong>{% trans "You answered the above question incorrectly" %}</strong>
    </div>
  {% endif %}

  <table class="table table-bordered">
    <tbody>
  	  {% for answer in previous.answers %}
        {% if answer.correct %}
  	    <tr class="table-success">
  		  <td>
              {% if previous.question_type.MCQuestion and previous.previous_answer|get_type == 'list' %}
                {%  for your_answer in previous.previous_answer %}
                    {% if answer.id|add:"0" == your_answer|add:"0" %}
                        {% trans "X. " %}
                    {% endif %}
                {% endfor %}
              {% else %}
                {% if answer.id|add:"0" == your_answer|add:"0" %}
                  {% trans "X. " %}
                {% endif %}
              {% endif %}
              {{ answer.content }}
          </td>
  		  <td><strong>{% trans "This is the correct answer" %}</strong></td>
        {% else %}
  		<tr>
      	  <td>
              {% if previous.question_type.MCQuestion and previous.previous_answer|get_type == 'list' %}
                {%  for your_answer in previous.previous_answer %}
                    {% if answer.id|add:"0" == your_answer|add:"0" %}
                        {% trans "X. " %}
                    {% endif %}
                {% endfor %}
              {% else %}
                {% if answer.id|add:"0" == your_answer|add:"0" %}
                  {% trans "X. " %}
                {% endif %}
              {% endif %}
              {{ answer.content }}
          </td>
  		  <td>
{#  			<strong>{% trans "This is the incorrect answer" %}</strong></td>#}
  		  </td>
  	  {% endif %}
  	    </tr>
  	{% endfor %}
    </tbody>
  </table>
{% endif %}
